extends layout

block append scripts 
  script(src="/js/script2.js")

block main-content 
   h1 "Discover mouthwatering recipes from various cuisines, ranging from comforting classics to innovative creations, ensuring an unforgettable culinary experience for food enthusiasts on our cookery website."!
  p Please contact-cookerycontent@gmail.com.