body{
    background-color: aqua;
    color:#121010;
    background-image: url("/images/ecom2.jpg"); /* image source from google https://www.google.com/search?q=ecommerce+website+images&client=firefox-b-d&sxsrf=APwXEdfPoMJDx-b-CukEVNw-pe4KgKJoJA:1684537021575&source=lnms&tbm=isch&sa=X&ved=2ahUKEwiWtKC2vYL_AhWZkokEHbDMDwgQ_AUoAXoECAEQAw&biw=1280&bih=587&dpr=1.5#imgrc=yhPxm8UUvG5D8M */
    
}


h1{
    font-size: small;
    color: black;
}